*{
    font-family: 'Inter', sans-serif;
}

.container{
    padding: 50px 30px;
    color:black;
}

.form,.img-sign{
    width: 50%;
    height:100vh;
}

.img-sign > .container{
    transform: translate(-50%, -50%);
    position:relative;
    top:50%;
    left:50%;
}

.form > .container{
    max-width: 700px;
    padding:80px;
}


.form h4{
    font-weight: 700;
}

.form h2{
    font-size:37px;
    font-weight: 700;
    padding-top:30px;
}

.form label{
    font-weight: 700;
    margin:10px 0;
}

.form form input[type=text],input[type=email]{
    display:block;
    max-width: 500px;
    width:100%;
    padding: 13px;
    border: 1px solid #dadada;
}

.form form input[type=text],input[type=email]:focus{
    outline-color: #4d13d1;
}

.form form input[type=password]{
    display:block;
    max-width: 500px;
    width:100%;
    padding: 13px;
    border: 1px solid #dadada;
}

.form form input[type=password]:focus{
    outline-color: #4d13d1;
}

.form [type=submit]{
    background-color:#4d13d1;
    border:0;
    color:white;
    font-weight: 700;
    width:100%;
    padding:20px;
    border-radius:8px;
    margin: 20px 0;
}

.passord-wrapper{
    position: relative;
    max-width: 500px;
    width:100%;
}

.eye img{
    max-width: 30px; 
    position: absolute;
    right: 0;
    top:55px;
    margin-right: 10px;
    cursor:pointer;
}

span{
    font-size:18px;
    margin: 0 5px;
}

.form p{
    font-weight: 600;
    text-align: center;
}

input[type=checkbox]{
    margin:30px 0;
}

a.terms{
    color:#4d13d1;
    font-weight: 700;
}

a.signin{
    font-size: 18px;
    font-weight: 400;
}

.img-sign{
    background-color:#4d13d1;
    color:white;
    text-align: center;
}

.swiper-container{
    height: 620px;
}

.img-sign h2{
    color:white;
    margin: 20px 0;
}

.img-sign p{
    color:white;
    max-width: 500px;
    transform:translateX(-50%);
    position: relative;
    left:50%;
}

.img-sign img{
    max-width:600px;
}

.eye img:nth-child(2){
    display: none;
}

.eyeActive{
    display:block !important;
}

@media screen and (max-width:1200px){
    
    .form > .container{
        width:100%;
        padding:20px;
        margin-top: 40px;
    }
    .form{
        width:100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        height:100vh;
    }

    .img-sign{
        display:none;
    }

}

